version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file:
      - backend/.env
    environment:
      POSTGRES_DB: ${DB_NAME:-mydb}
      POSTGRES_USER: ${DB_USER:-admin}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-admin123}

    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_panel
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  backend:
    build:
      context: ./backend
      dockerfile : Dockerfile
    container_name: backend_app
    image: backend:latest
    env_file:
      - backend/.env
    
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432

    ports:
      - "8080:8080"
    depends_on:
      - postgres
    # volumes:
    #   - ./backend/uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_app
    image: frontend:latest
    volumes:
        - ./backend/uploads:/app/uploads

    ports:
      - "3000:3000"

    # volumes removed to prevent overwriting .next build in container

    environment:
      NODE_ENV: production
    depends_on:
      - backend

volumes:
  pgdata:
